@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.bebas-neue {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.player{
  width: 40rem;
}

#player2{
  flex-direction: row-reverse;
}


.avatar{
  height: 5rem;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
}

#player1 .avatar{
  background-image: url('https://api.dicebear.com/9.x/adventurer/svg?seed=Player1');
}

#player2 .avatar{
  background-image: url('https://api.dicebear.com/9.x/adventurer/svg?seed=Player2');
}


.bars-container{
  width: 100%;
}

.bar{
  border: 1px solid;
}

#player2 .bar{
  display: flex;
  flex-direction: row-reverse;
}


.bar-fill{
  height: 1.5rem;
  position: relative;
}

.bar-text-container{
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
}

#player2 .bar-text-container{
  right: 0;
}

.energy-bar{
  width: 75%;
}

.health-bar .bar-fill{
  background-color: #66e755;
}

.energy-bar .bar-fill{
  background-color: #1874ca;
}

.log{
  height: 15rem;
  overflow-y: scroll;
}
